@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Услуги перевозок</h1>
    <p class="lead">Перевозим все и даже больше</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO" class="btn btn-primary btn-lg">Learn more</a></p>
</div>